[Unit]
Description=IPv4 firewall with iptables
After=syslog.target
ConditionPathExists=/etc/sysconfig/iptables-config

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/rc.d/init.d/iptables --quiet start
ExecStop=/etc/rc.d/init.d/iptables --quiet stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
